In [ ]:
pip install pandas

In [4]:
import pandas as pd

In [18]:
Dicionario ={
    "A":['Alice','19','Direito','1'],
    "B":['Julia','22','Engenharia','2'],
    "C":['Bruna','28','Enfemagem','3'],
    "D":['Daniel','34','Engenheiro civil','4'],
    "E":['Filipe','28','Cientista da computação','5'],
    "F":['Silvio','48','Engenheiro Eletronico','6'],
}

Labels=['Nome','Idade','Profissão','ID']

In [19]:
dados = pd.DataFrame(Dicionario, index= Labels)

In [21]:
dados.head()

,A,B,C,D,E,F
Nome,Alice,Julia,Bruna,Daniel,Filipe,Silvio
Idade,19,22,28,34,28,48
Profissão,Direito,Engenharia,Enfemagem,Engenheiro civil,Cientista da computação,Engenheiro Eletronico
ID,1,2,3,4,5,6